fastapi==0.115.0
uvicorn[standard]==0.30.6
numpy<2.0.0
opencv-python==4.10.0.84
pydantic==2.9.2
deepface==0.0.93
PyJWT==2.9.0
prometheus-client==0.20.0
psycopg[binary,pool]==3.2.9
python-multipart==0.0.9
insightface==0.7.3
onnxruntime==1.18.0
tf-keras==2.20.0

